/* Global reset to remove default margins and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set html and body to 100% height to allow child elements to expand fully */
html, body {
  height: 100%;
  font-family: Arial, sans-serif;
}

/* Set map to 100% of its parent's size. */
#map {
  height: 100%;
  width: 100%;
}

/* Styles for the legend */
.legend {
  background-color: white;
  border-radius: 8px;
  padding: 10px;
  line-height: 18px;
  color: black;
}

.legend i {
  width: 18px;
  height: 18px;
  margin-right: 8px;
  float: left;
}
